#map {
   width: 1440px;
   height: 960px;
   position: absolute;
   transition-property: background, top, left, opacity;
   transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
   opacity: 0;

   #primary-inner, #secondary-inner {
      stroke-width: 4px;
      opacity: 0.9;
      stroke: rgb(255, 39, 39);
   }

   #secondary-inner {
      stroke: rgb(28, 68, 117);
   }

   #primary-outer, #secondary-outer {
      stroke-width: 6px;
      stroke: rgb(78, 9, 9);
   }

   #secondary-outer {
      stroke: rgb(2, 14, 32);
   }

   foreignobject {
      width: 100%;
      height: 100%;
      z-index: 10;   
   }

   circle {
      opacity: 0;
      transition: opacity 0.2s;
      r: 30;
      stroke: rgb(12, 12, 12);
      stroke-width: 1;
   }

   .waypoint {
      position: absolute;
      width: 10px;
      height: 10px;

      span {
         background: rgba(0, 0, 0, 0.76);
         position: absolute;
         pointer-events: none;
         padding: 1px;
         border-radius: 25%;
         opacity: 1;

         #wp1 { background: url('../images/numbers/1.png'); }
         #wp2 { background: url('../images/numbers/2.png'); }
         #wp3 { background: url('../images/numbers/3.png'); }
         #wp4 { background: url('../images/numbers/4.png'); }
         #wp5 { background: url('../images/numbers/5.png'); }
         #wp6 { background: url('../images/numbers/6.png'); }
         #wp7 { background: url('../images/numbers/7.png'); }
         #wp8 { background: url('../images/numbers/8.png'); }
         #wp9 { background: url('../images/numbers/9.png'); }
      }

      // NUMBER ALIGNMENT
      #left { position: absolute; left: -20; top: -6; }
      #right { position: absolute; left: 10; top: -6; }
      #top { position: absolute; left: -5; top: -21; }
      #bottom { position: absolute; left: -5; top: 10; }
   
      #quest,
      #travel,
      #objective,
      #flightpath,
      #hub {
         position: relative;
         left: -5px;
         top: -5px;
      }
   
      #quest  { background: url('../images/waypoints/yellow.png'); }
      #travel { background: url('../images/waypoints/purple.png'); }
      #objective { background: url('../images/waypoints/red.png'); }
      #flightpath { background: url('../images/waypoints/green.png'); }
      #hub { background: url('../images/waypoints/blue.png'); }
   }
}

#next, #prev {
   background: rgba(0, 0, 0, 0.24);
   position: absolute;
   transition: opacity 0.2s;
   cursor: pointer;
   width: 10%;
   background-repeat: no-repeat;
   background-position: center center;
   top: 0px;
   opacity: 0;
}

// ICONS COURTESY OF https://www.flaticon.com/authors/smashicons

#prev {
   background-image: url('../images/prev.png');
   left: 0px;
}

#next {
   background-image: url('../images/next.png');
   right: 0px;
}

// ZONES -- USE MAP SCRIPT TO GENERATE
#map.durotar { background: url('../images/maps/durotar.jpg'); }
#map.mulgore { background: url('../images/maps/mulgore.jpg'); }
#map.ungoro { background: url('../images/maps/ungoro.jpg'); }
#map.morogh { background: url('../images/maps/morogh.jpg'); }
#map.duskwood { background: url('../images/maps/duskwood.jpg'); }
#map.tanaris { background: url('../images/maps/tanaris.jpg'); }
#map.epl { background: url('../images/maps/epl.jpg'); }
#map.deadwind { background: url('../images/maps/deadwind.jpg'); }
#map.undercity { background: url('../images/maps/undercity.jpg'); }
#map.thunderbluff { background: url('../images/maps/thunderbluff.jpg'); }
#map.steppes { background: url('../images/maps/steppes.jpg'); }
#map.ashenvale { background: url('../images/maps/ashenvale.jpg'); }
#map.loch { background: url('../images/maps/loch.jpg'); }
#map.azshara { background: url('../images/maps/azshara.jpg'); }
#map.arathi { background: url('../images/maps/arathi.jpg'); }
#map.redridge { background: url('../images/maps/redridge.jpg'); }
#map.hillsbrad { background: url('../images/maps/hillsbrad.jpg'); }
#map.searing { background: url('../images/maps/searing.jpg'); }
#map.feralas { background: url('../images/maps/feralas.jpg'); }
#map.wpl { background: url('../images/maps/wpl.jpg'); }
#map.ironforge { background: url('../images/maps/ironforge.jpg'); }
#map.needles { background: url('../images/maps/needles.jpg'); }
#map.badlands { background: url('../images/maps/badlands.jpg'); }
#map.stonetalon { background: url('../images/maps/stonetalon.jpg'); }
#map.blasted { background: url('../images/maps/blasted.jpg'); }
#map.hinterlands { background: url('../images/maps/hinterlands.jpg'); }
#map.silverpine { background: url('../images/maps/silverpine.jpg'); }
#map.moonglade { background: url('../images/maps/moonglade.jpg'); }
#map.tirisfal { background: url('../images/maps/tirisfal.jpg'); }
#map.darnassus { background: url('../images/maps/darnassus.jpg'); }
#map.winterspring { background: url('../images/maps/winterspring.jpg'); }
#map.westfall { background: url('../images/maps/westfall.jpg'); }
#map.wetlands { background: url('../images/maps/wetlands.jpg'); }
#map.silithus { background: url('../images/maps/silithus.jpg'); }
#map.stormwind { background: url('../images/maps/stormwind.jpg'); }
#map.teldrassil { background: url('../images/maps/teldrassil.jpg'); }
#map.stv { background: url('../images/maps/stv.jpg'); }
#map.elwynn { background: url('../images/maps/elwynn.jpg'); }
#map.orgrimmar { background: url('../images/maps/orgrimmar.jpg'); }
#map.barrens { background: url('../images/maps/barrens.jpg'); }
#map.alterac { background: url('../images/maps/alterac.jpg'); }
#map.desolace { background: url('../images/maps/desolace.jpg'); }
#map.dustwallow { background: url('../images/maps/dustwallow.jpg'); }
#map.swamp { background: url('../images/maps/swamp.jpg'); }
#map.darkshore { background: url('../images/maps/darkshore.jpg'); }
#map.felwood { background: url('../images/maps/felwood.jpg'); }